[Storage]
type = redis
host = somehost
port = someport

[Lambda]
fn_names = alex0,alex1,alex2
fn_role = somerole
layers = layer1,layer2
runtime = someruntime
subnet = somesubnet
security_group = somegroup

[Driver]
height = 224
width = 224
channels = 3
split_input_sizes = (127,127)|(8,8)|(3,3)
split_output_sizes = (7,7)|(3,3)|(10,10)
overlap_sizes = (1,1)|(0,0)|(0,0)
suffix = ".some"
splits = tl,tr,bl,br

